* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #0a0a23;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
img{
  width: 300px;
margin-top: 40px;
}
h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.first {
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 10px rgba(8, 113, 121, 0.302); 
  background-color: white;
  color: black;
  padding: 20px;
  font-size: 20px;
  width: 400px;
  margin: 0 auto;

}

.second {
  background-color: rgba(0, 128, 0, 0.5);
  border-radius: 15px;
  margin-top: 30px;
  font-size: 20px;
  width: 400px;
  margin: 30px auto;
  padding:20px;
}

input {
  height: 30px;
  width: 250px;
  text-align: center;
  font-size: 10px;
  margin: 10px;
  border: none;
  border-bottom: 2px solid #5a01a7;
}

input:focus {
  border-bottom: 3px solid #5a01a7;
}

input::placeholder {
  text-align: center;
}

input {
  font-size: 1.4rem;
  margin-top: 10px;
  text-align: center;
  display:inline;
}
button{
  background-color:#5a01a7 ;
  color:white;
  padding:10px;
  border:none;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
}