*{
    padding: 0;
    margin:0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}
body{
    background-color: #002633;
}
.container{
    width:100%;
    max-width:470px;
    padding:10px;
    margin:200px auto;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
input{
    width:100%;
    height:50px;
    border:0;
    outline:0;
    font-size: 20px;
    padding:20px;
}
img{
    width:40px;
    cursor: pointer;
    padding:10px;
}